<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather API</title>
</head>
<body>
    <h1>Weather Data API</h1>
    <p>URL format: http://127.0.0.1:5001/api/v1/station/date</p>
    <p>URL example for 1 station and 1 date: http://127.0.0.1:5001/api/v1/10/1988-10-25</p>
    <p>URL example for 1 station: http://127.0.0.1:5001/api/v1/10</p>
    <p>URL example for 1 station and 1 whole year: http://127.0.0.1:5001/api/v1/10/year/1988</p>
<!-- |safe is to convert string to html   -->
    <p>{{stations|safe}}</p>
</body>
</html>